<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea placeholder="Write your journal entry here..." id="journalDescription"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date & Time</ion-label>
      <ion-datetime id="journalDateTime" display-format="MM/DD/YYYY h:mm A"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-button expand="block" color="primary" onclick="saveNewEntry()">Save Entry</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
