<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label position="stacked">Description</ion-label>
  <ion-textarea placeholder="Write your journal entry here..." [(ngModel)]="journalDescription"></ion-textarea>

  <ion-label position="stacked">Date & Time</ion-label>
  <ion-datetime format="DD-MM-YYYY HH:mm" [(ngModel)]="journalDateTime"></ion-datetime>

  <ion-button expand="block" color="primary" (click)="saveData()">Save Entry</ion-button>

</ion-content>
