<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label position="stacked">Description</ion-label>
  <ion-textarea placeholder="Write your journal entry here..." [(ngModel)]="journalDescription"></ion-textarea>

  <ion-label position="stacked">Date & Time</ion-label>
  <ion-datetime format="DD-MM-YYYY HH:mm" [(ngModel)]="journalDateTime"></ion-datetime>

  <ion-button expand="block" color="primary" (click)="saveData()">Save Entry</ion-button>
  <ion-toast
    [isOpen]="isSuccessOpen"
    message="Entry saved successfully!"
    [duration]="1000"
    (didDismiss)="setSuccessOpen(false)"
  ></ion-toast>
  <ion-toast
  [isOpen]="isErrorOpen"
  message="Entry not saved as you have not entered any description or not set the time!"
  [duration]="4000"
  (didDismiss)="setErrorOpen(false)"
></ion-toast>

</ion-content>
